body, html {
  height: 100%;
}

.bg { 
  font-family: 'Merienda';
  color: blue;
  background-image: url(../img/svitok.jpg);
  min-height: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  
}