body, html {
  height: 100%;
}

.bg { 
  font-family: 'Merienda', Sans-Serif !important;
  color: blue;
  /* The image used */
  background-image: url(../img/svitok.jpg);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  
}